@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #f9a8d4;
  font-family: "Outfit", serif;
}
.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.embossed-logo {
  background: #f9a8d4; /* Pink background */
  border-radius: 50%;
  box-shadow:
    var(--shadow-x, 10px) var(--shadow-y, 10px) 15px rgba(0, 0, 0, 0.2),
    var(--highlight-x, -10px) var(--highlight-y, -10px) 15px rgba(255, 255, 255, 0.7);
  filter: brightness(1.1);
  transition: box-shadow 0.2s ease-out;
}


@layer utilities {
  .nav-hover-btn {
    @apply relative ms-10 font-outfit text-xs uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }
  .floating-nav {
    @apply bg-black rounded-lg border;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .hero-heading {
    @apply uppercase font-outfit font-black text-5xl sm:right-10 sm:text-7xl md:text-9xl lg:text-[12rem];
  }
  .hero-subtext {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center text-lg md:max-w-[34rem];
  }
  .hero-video-container {
    @apply z-20 h-[20vh] w-36 origin-center overflow-hidden rounded-lg md:w-[14vw];
  }
  .sphere1 {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[450px] h-[450px] flex rounded-full z-50; 
  }
  .sphere2 {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[400px] h-[400px] flex rounded-full z-50; 
  }
  .animated-title {
    @apply leading-[.8] text-black py-4 md:text-[6rem];
  }
  .animated-word {
    @apply text-3xl font-bold opacity-0 md:text-4xl lg:text-6xl;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  }
}